@import '../../Pages//style.scss';

.home {
    @include themify($themes) {
        background-color: themed("bgSoft");
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        .homeComponentContainer {
            display: flex;
            margin: auto;
            justify-content: space-around;
        };

    }
    &::-webkit-scrollbar{
        display: none;
      }
}